.sidePanel {
  float: left;
  margin: 20px;
  width: 300px;
  height: calc(100% - 40px);
  border-radius: 40px;
  background-color: rgb(194, 232, 255);
}
.isemLogo {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.date-selecter {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 9px;
}
