.sidePanel {
  float: left;
  width: 15%;
  background-color: rgb(194, 232, 255);
  margin: 20px;
  border-radius: 35px;
}
.isemLogo {
  display: flex;
  color: black;
  align-items: center;
  text-decoration: none;
}
