$btnShadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.507);

.button {
  cursor: pointer;
  min-width: 35px;
  border: none;
  margin: 5px;
  border-radius: 8px;
  background-color: white;
  box-shadow: $btnShadow;
}
.button:hover {
  background-color: rgba(85, 85, 85, 0.219);
}
.button:active {
  background-color: rgba(0, 0, 0, 0.384);
}
.chosen {
  background-color: rgba(109, 255, 104, 0.726) !important;
}
