$spacebitwin: 20px;

.chartBox {
  background-color: rgb(194, 232, 255);
  width: calc(50% - $spacebitwin);
  height: fit-content;
  border-radius: 40px;
  padding: 5px;
  margin: 0 $spacebitwin 0 0;
}
