$spacebitwin: 20px;

.chart {
  background-color: rgb(194, 232, 255);
  width: calc(50% - $spacebitwin);
  justify-content: space-between;
  height: fit-content;
  min-height: 315px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  padding: 5px;
}
.chart:first-child {
  margin-right: 20px;
}
