.mainBox {
  width: 100%;
}

.chart-box {
  display: flex;
  height: calc(50% - 15px);
  background-color: white;
}
.chart-box:first-child {
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .chart-box {
    flex-direction: column;
    height: auto;
  }
  .chart-box:first-child {
    margin-bottom: 0;
  }
}
