$selectShdow: 2px 3px 8px 2px rgba(0, 0, 0, 0.12);
.select {
  position: relative;
  width: 110px;
  margin: auto;
  .select-btn {
    display: flex;
    cursor: pointer;
    min-height: 23px;
    background: #ffffff;
    padding: 3px;
    box-shadow: $selectShdow;
    border-radius: 12px;
    transition: all 0.2s;
  }
  .select-btn-active {
    border-radius: 12px 12px 0 0;
  }
  .select-content {
    position: absolute;
    z-index: 1;
    top: 110%;
    background-color: #ffffff;
    width: 100%;
    max-height: 300px;
    overflow: hidden scroll;
    box-shadow: $selectShdow;
    border-radius: 0 0 12px 12px;
    .select-item {
      text-align: left;
      padding: 5px;
      transition: all 0.1s;
      cursor: pointer;
      &:hover {
        background: #e4e4e4;
      }
    }
  }
}
.arrow {
  color: #00000081;
  margin: auto;
  margin-right: 0;
  height: 20px;
  width: 17px;
}
