$selectShdow: 2px 3px 8px 2px rgba(0, 0, 0, 0.12);
$maxHeightSelectContent: 300px;

.select {
  position: relative;
  width: 110px;
  margin: auto;

  .select-btn {
    display: flex;
    cursor: pointer;
    min-height: 23px;
    background: #ffffff;
    padding: 3px;
    box-shadow: $selectShdow;
    border-radius: 12px;
    transition: all 0.2s;
  }

  .select-btn-active {
    border-radius: 12px 12px 0 0;
  }

  .select-content {
    position: absolute;
    z-index: 1;
    top: 110%;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    overflow: hidden scroll;
    box-shadow: $selectShdow;
    border-radius: 0 0 12px 12px;
  }

  .not-collapsed {
    max-height: 300px;
    transition: all 0.2s;
  }
  .collapsed {
    max-height: 0;
    left: 50%;
    width: 0;
    transition: all 0.2s;
  }
  .select-item {
    text-align: left;
    padding: 5px;
    transition: all 0.1s;
    cursor: pointer;

    &:hover {
      background: #e4e4e4;
    }
  }
}

.arrow-box {
  display: flex;
  margin: auto;
  margin-right: 0;
  justify-content: center;
}

.arrow {
  color: #00000081;
  height: 14px;
  width: 14px;
}

.rotate-arrow {
  transform: rotate(0deg);
  transform-origin: center center;
  border: 1px solid;
  transition: all 0.2s;
}

.reverse-rotate-arrow {
  transform: rotate(180deg);
  transform-origin: center center;
  border: 1px solid;
  transition: all 0.2s;
}

.line {
  transition: all 0.2s;
}
