.menuBtn {
  display: none;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border: none;
  margin: auto auto auto 40px;
}
.menuBtn-active {
  box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.507);
}
.first-line-menu-open {
  transform-origin: center center;
  transform: rotate(30deg);
}
.second-line-menu-open {
  transform-origin: center center;
  transform: rotate(-30deg);
}

@media only screen and (max-width: 600px) {
  .menuBtn {
    display: flex;
  }
}
