$btnShadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.507);

.PanelButton {
  cursor: pointer;
  min-width: 35px;
  border: none;
  margin: 5px;
  border-radius: 8px;
  background-color: white;
  box-shadow: $btnShadow;
}
.PanelButton:hover {
  background-color: rgba(187, 187, 187, 0.5);
}
.PanelButton:active {
  background-color: rgba(0, 0, 0, 0.384);
}
.chosen {
  background-color: rgba(127, 255, 123, 0.795) !important;
}
