.tooltip {
  position: absolute;
  display: flex;
  text-align: left;
  top: -37px;
  height: 100px;
  margin: 5%;
  border-radius: 25px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s;
  background-color: rgba(241, 251, 255, 0.918);
}
.tooltipDeactive {
  left: 110px;
  color: rgba(255, 255, 255, 0);
  width: 0;
}
.tooltipActive {
  left: 145px;
  width: 500px;
}
