.tooltip {
  position: absolute;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 80%;
  overflow: hidden;
  border-radius: 25px;
  align-items: center;
  transition: all 0.3s;
  overflow-y: scroll;
  background-color: rgba(241, 251, 255, 0.952);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.507);
  z-index: 1000;
  ul {
    margin: 2px;
  }
}
.tooltip-btn {
  margin: 10px 10px 0 auto;
  display: flex;
}
.tooltip-content {
  margin: 10px 20px;
}
@media only screen and (max-width: 600px) {
  .tooltip {
    height: 90%;
  }
}
