.App {
  text-align: center;
  display: flex;
  height: 100%;
  position: relative;
}

.myApp {
  display: flex;
  margin: 20px;
  height: calc(100% - 40px);
  width: 100%;
}

.interactive-el {
  background-color: white;
  color: black;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.507);
  border: none;
  border-radius: 8px;
  padding: 3px;
  cursor: pointer;
}

.interactive-el:hover {
  background-color: rgba(187, 187, 187, 0.5);
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
  .myApp {
    flex-direction: column;
    margin: 5px;
    width: calc(100% - 10px);
  }
  .interactive-el:hover {
    background-color: rgb(255, 255, 255);
  }
}
