.sideElement {
  display: flex;
  background-color: rgba(255, 255, 255, 0.836);
  width: 90%;
  height: 100px;
  margin: 5%;
  border-radius: 35px;
  justify-content: center;
  align-items: center;
}
